body {
  font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: justify;
  text-justify: auto;
}

.btn-cart {
  position: relative;
  background-color: transparent;
  .badge {
    position: absolute;
    top: -1px;
    right: -1px;
  }
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.jumbotron-bg {
  background-image: url(https://images.unsplash.com/photo-1441986300917-64674bd600d8?auto=format&fit=crop&w=1650&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.bg-lighter {
  background-color: rgba(0, 0, 0, 0.5);
}

.box-shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
  transition: box-shadow 0.3s;
}

.box-shadow:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.24);
}

.btn {
  border-width: 2px;
}

.btn-search:hover>i:before {
  color: #fff;
}

// 消search時focus的box-shadow時是這樣嗎?
.search-focus:focus {
  box-shadow: 0 0 0px;
}

.img-fluid {
  width: 100%;
}

// 要如何取消按鈕focus時的box-shadow?
.focus-shadow:focus {
  box-shadow: none!important;
}

// 禁止點擊小技巧
.btn.disabled {
  pointer-events: none;
}

.alert-rounded {
  border-radius: 50px;
}